html, body {
  margin: 0;
  height: 100%;
}

.form-check .form-check-input {
    scale: 0.75;
}
.form-check .form-check-label {
    font-size: 1rem;
    margin-left: 0rem;
}
#datepicker {
    scale: 0.75;
}

/* Styling for the hover effect on navbar links */
.navbar-dark .navbar-nav .nav-link:hover {
    color: goldenrod !important;
  }

  /* Remove padding on the left and right sides of the navbar */
  .navbar-expand-md {
    padding-left: 0;
    padding-right: 0;
  }

  /* Add margin to the right of the last item in the navbar */
  .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 20px;
  }

  /* Style the form-inline in the navbar */
  .navbar-nav .form-inline {
    display: flex;
    align-items: center;
  }

  /* Add margin to the right of the form control in the form-inline */
  .navbar-nav .form-inline .form-control {
    margin-right: 5px;
  }

  .sort.desc::after {
    content: "\002B06";
    padding-left: 3px;
    }
  .sort.asc::after {
    content: "\002B07";
    padding-left: 3px
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sticky-top-filter {
         position: -webkit-sticky;
         position: sticky;
         top: 70px;
         z-index: 1019;
         }
     } 

     .spinner-border {
      position: fixed;
      top: 40%;
      left: 60%;
      width: 3rem;
      height: 3rem;
      color: rgb(94, 119, 13);
    }
     .post-meta-author {
         clip: rect(1px, 1px, 1px, 1px);
         height: 1px;
         position: absolute;
         overflow: hidden;
         width: 1px;
    }
  
    .header-wrapper {
      background:#474747;
      padding-top: 30px;
  }

  .site-title a:hover {
      color: #bde146
  }

  .nav-toggle .bar, .nav-toggle.active .bar {
      background:#545454
  }


  .header-bottom-menu ul a, .header-bottom-menu > li > a, .header-bottom-menu > li:hover > a, .header-bottom-menu ul li:hover > a, .header-bottom-menu > li.current_menu_item > a, .header-bottom-menu > li.current_page_item > a, .navigation .section-inner, .sticky.post .sticky-tag, .single-post .post .sticky-tag, .post-content .page-links a:hover, .post-content fieldset legend, .post-content fieldset legend, .post-content input[type="submit"], .post-content input[type="reset"], .post-content input[type="button"], .post-content input[type="submit"]:hover, .post-content input[type="reset"]:hover, .post-content input[type="button"]:hover, .post-tags a:hover, .tagcloud .widget-content a:hover, .widget_tag_cloud .widget-content a:hover, .comment-respond input[type="submit"], .to-the-top .fa {
      color:#545454
  }

  .header-bottom-menu ul, .navigation .section-inner, .header-bottom-menu, .nav-toggle, .sticky.post .sticky-tag, .single-post .post .sticky-tag, .post-content .page-links a:hover, .post-tags a:hover, .tagcloud .widget-content a:hover, .widget_tag_cloud .widget-content a:hover, .post-content fieldset legend, .post-content input[type="submit"], .post-content input[type="reset"], .post-content input[type="button"], .post-content input[type="submit"]:hover, .post-content input[type="reset"]:hover, .post-content input[type="button"]:hover, .comment-respond input[type="submit"], #infinite-handle span button, .to-the-top {
      background:#bde146
  }

  .nav-link {
    white-space:nowrap;
  }

  .navigation {
    position:relative;
    bottom: 0px;
  }

  .outer {
  border-bottom: solid 8px;
  color:#bde146
  }

  .nav-toggle {
    top: 50px;
    right: 10px;
  }

  .containerNav {
    position: relative;
    width: 400px;
    left: 65%;
    margin-right: 5;

  }
    
    
    
